git+https://github.com/theislab/anndata.git@bbef0bc#egg=anndata
git+https://github.com/theislab/scanpy.git@6c1daba#egg=scanpy
scikit-learn~=0.19.1
matplotlib~=2.2
loompy~=2.0.12
pandas~=0.21
h5py
joblib
natsort
networkx
numba
scipy
seaborn
statsmodels
tables
