name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  # Skip CI if commit message contains `[ci skip]` in the subject
  init:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.ci-skip-step.outputs.ci-skip }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: ci-skip-step
        uses: mstachniuk/ci-skip@master

  # Check if code agrees with `black` and if README.rst can be converted to HTML
  linting:
    needs: init
    if: ${{ needs.init.outputs.skip == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black>=20.8b1 docutils flake8
      - name: Check code style
        run: black --check --diff --color .
      - name: Check flake8 code style
        run: python -m flake8
      - name: Run rst2html.py
        run: rst2html.py --halt=2 README.rst >/dev/null

  # Run unit tests
  test:
    needs: linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -e .
          pip install hypothesis pytest pytest-cov
      - name: Unit tests
        run: python -m pytest --cov=scvelo
